
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #212121, #000000);
    color: white;
}



/* Stili personalizzati */

.account-list{
    width: 200px;   
    background-color: #000000;
}


header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;   
}

header button{
    width: 200px;
    
}
.account-list .list-item:hover {
    background-color: rgb(51, 51, 51); 
  }

/* --------------------------------------------------*/

.last-song-container{
    background: linear-gradient(to left, #212121, #000000);
    color: white;
}

.play-btn{
    border-radius: 20px;
    width: 80px;
    color: #000000;
}

.save-btn{
    border-radius: 20px;
   width: 80px;
}

.save-btn:hover{
    background-color: rgb(26, 26, 26);
    color: white;
}

.ads-btn{
    color: #696969;
    background-color: #222222;
    border-radius: 15px;
}

.dot-btn{
    color: #696969;
}

.button-group button{
    margin-right: 20px;
}

.song-img{
   
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}



  

/*-----------------------------------------------*/

.box{
    background-color: #2D2D2D;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

.box img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
}




.collection img{
    width: 100%;
    height: 200px;
    
    object-fit: cover;
}
 
/*------trend---------*/
.trend{
    background: #171717;
    color: white;
    
 
}
.trend img{
    border-radius: 5px;
    width: 100%;
    height: 10rem; /* Imposta l'altezza desiderata per l'immagine */
    object-fit: cover; /* Impedisce la distorsione dell'immagine */
  }


#view-all{
    color: rgb(156, 156, 156);
    text-decoration: none;
}
#view-all:hover{
    color: white;
    transition: color 0.6s ease;
}

.h6-title{
    height: 50px;
}


/*----------------------------------------------FLAVIA-------------------------------------------*/
.divNav {
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    font-size: 0.9em;
  }
.divNav i{
    font-size: 1.3em;
    
}
  .navbar-nav {
    flex-direction: column;
  }

  .navbar a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    display: block;
  }


  .favourite, .add, .bookmark{
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2%;
      border-radius: 2px;
      font-size: 10px;
      

  }

  .favourite{
      background-image: linear-gradient(#3C1FA8, #7B918B);
      color: #fff;

  }

  .add{
      background-color: #B2B2B2;
      color: #000;

  }

  .bookmark{
      background-color: #004537;
      color: #149643;
  }

  /* .scroll{
    overflow: scroll;
    height: auto;
  } */
  .scrollbar-dusty-grass::-webkit-scrollbar-track {
    border-radius: 10px;
  }


.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    background-color: #333;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #3fd868 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #3fd868 100%);
} 

.sidebar-wrapper{ /* Add height */
  overflow-y: 100%;  /* Add overflow-y */
  overflow-x: hidden;
  height: 80%;  /* Add overflow-x */
}


.artist-barra{
  position: fixed;
  padding: 15px;
  bottom: 0;
  background-color: #181818;
}
.container-fluid{
  padding: 0;
}
.artist-center-section{
  height: 100vh;
   background: linear-gradient(to bottom,#212121,#131313 );
}
.artist-header {
   width: 100%;
   height: 35%;
   position: relative;
   min-height: 200px;
}
.artist-header img {
  opacity: 0.7;
       height: 100%;
       width: 100%;
       object-fit: cover;
       object-position: center;
  }
.artist-header-content {
       position: absolute;
       top: 0;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       padding-bottom: 20px;
}
.artist-header-content svg {
   color: #5C92FE;
}

.artist-brano-photo{
   position: relative;
}
.artist-like-icon{
   position: absolute;
   text-align: center;
   height: 35px;
   width: 35px;
   bottom:-10px;
   right: 0;
   background-color:#AAFFBE;
   border: 3px solid white;
   border-radius: 50%;
}

.artist-popolare-brani{
   margin-inline-start: 2rem;
}

/*-----------------------------------------JESSICA---------------------------------------------*/
@font-face {
  font-family: 'CircularStd';
  src: url(./fonts/CircularStd-Medium.otf) format('otf');
}

.navDx{
  width: 100%;
  height: 100%;
  padding: 5% 0;
  color: #fff;
  font-family: 'CircularStd', sans-serif;
}

.friendsActivity{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  margin: 3% 0;
}

.friendsActivity h6{
  margin: 0;
}

.myFriend{
  display: flex;
  align-items: center;
  font-size: smaller;
}
.account{
  width: 100%;
  padding: 0 3%;
  color: #ADACAD;
}

.account p{
  margin: 2px 0;
}

.accountPic{
  padding: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aquamarine;
  align-self: start;
}
.accountName{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*----------------------------------------------------*/
